<div class="row">
    <div class="col-xs-offset-1 col-xs-10 text-center">
        <h2>Total Packets: {{packetCount}}</h2>
    </div>
</div>

<div class="row" style="margin-bottom: 15px;">
    <div class="col-xs-offset-1 col-xs-10">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Query" ng-model="query">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" ng-click="search()"><i class="fa fa-search"></i> <span class="hidden-xs-down">Search</span></button>
            </span>
          </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Size</th>
                <th class="hidden-xs-down">Last Mentioned</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in searchResults  | orderBy: 'name'">
                <td>
                    <div>{{result.packetId}}</div>
                    <div>
                      <a ng-click="startDownload(result)" class="btn btn-primary btn-sm"><i class="fa fa-download"></i></a>
                    </div>
                </td>
                <td class="em-td-max">
                   <div><strong>{{result.channel}}|{{result.bot}}</strong></div>
                   <div style="word-wrap: break-word">{{result.name}}</div>
                </td>
                <td>{{result.size}}</td>
                <td class="hidden-xs-down">{{result.date | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-hide="searchResults && searchResults.length > 0">
    <div class="col-xs-12">
        No results found.
    </div>
</div>
