<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="pull-left">Shows</h3>
                <a class="btn btn-default btn-xs pull-right pointer" ng-click="showAddShowDialog()">
                    Add Show
                </a>
            </div>
        </div>
        <div class="row">
          <div class="list-group">
            <a  class="list-group-item" ng-repeat="show in shows | orderBy: 'name'" ng-class="{active: show==selectedShow}" ng-click="selectShow(show)">
              <div class="row">
                <div class="col-xs-8">
                  <h4 class="list-group-item-heading">{{show.name}}</h4>
                  <p class="list-group-item-text">{{show.firstAired | date: 'yyyy-MM-dd'}}</p>
                </div>
                <div class="col-xs-4" style="margin-top: 18px;">
                    <i class="fa fa-trash-o pull-right pointer" title="Delete Show" ng-click="showDeleteShowConfirm (show)"></i>
                    <i class="fa fa-film pull-right pointer" title="Load episodes" ng-click="loadEpisodes(show)"></i>
                </div>
              </div>
            </a>


          </div>
        </div>
    </div>
    <div class="col-sm-8 hidden-xs-down" ng-show="selectedShow">
        <div class="row">
          <div class="col-sm-12 well">
            <div class="row">
              <div class="col-sm-12">
                <img ng-src="http://thetvdb.com/banners/{{selectedShow.banner}}" class="col-sm-12"/>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-12">
                <p style="padding-top: 15px;">{{selectedShow.overview}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <form role="form" name="editShowForm">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="selectedShow.name" required disabled>
                </div>
                <div class="form-group">
                    <label for="tvbdID">TvbdID:</label>
                    <input type="text" class="form-control" id="tvbdID" placeholder="TvbdID" ng-model="selectedShow.id" required disabled>
                </div>
                <div class="form-group">
                    <label for="searchName">Search Name:</label>
                    <input type="text" class="form-control" id="searchName" placeholder="Search Name" ng-model="selectedShow.searchName" required>
                </div>
                <div class="form-group">
                    <label for="folder">Folder:</label>
                    <input type="text" class="form-control" id="folder" placeholder="Folder" ng-model="selectedShow.folder" required>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default pull-right" ng-click="saveShow(selectedShow)">Save</button>
                        <button type="button" class="btn btn-default pull-right" ng-click="loadEpisodes(selectedShow)">Load Episodes</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>

<!-- AddShow Modal -->
<div class="modal fade" id="addShowDialog" tabindex="-1" role="dialog" aria-labelledby="addShowDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addShowDialogLabel"><span class="glyphicon glyphicon-cog"></span> Add Show</h4>
            </div>
            <div class="modal-body" style="display: block; max-height: 410px; overflow-y: scroll">
                <form role="form" name="addShowForm">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Showname" ng-model="query">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" ng-click="searchShow()"><i class="fa fa-search"></i> Search</button>
                      </span>
                    </div>
                </form>
                <table class="table">
                    <tr ng-repeat="result in searchResults">
                        <td>
                          {{result.name}} ({{result.firstAired | date: 'yyyy-MM-dd'}})
                          <p><small>{{result.overview}}</small></p>
                          </td>
                        <td>
                            <a ng-click="saveShow(result)">
                              <i class="fa fa-plus-circle fa-2x pull-right" style="margin-top: 40px;"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Episodes Modal -->
<div class="modal fade" id="episodesDialog" tabindex="-1" role="dialog" aria-labelledby="episodesDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="episodesDialogLabel"><span class="glyphicon glyphicon-cog"></span> Episodes for {{selectedShow.name}}</h4>
            </div>
            <div class="modal-body" style="max-height: 410px; overflow-y: scroll">
              <div ng-repeat="season in seasons">
                <table class="table" >
                    <tr ng-repeat="episode in season.episodes">
                        <td>{{episode.seasonNumber}} x {{episode.episodeNumber}}</td>
                        <td>{{episode.firstAired | date: 'yyyy-MM-dd'}}</td>
                        <td class="hidden-xs-down">{{episode.name}}</td>
                        <td><a ng-click="searchEpisode(selectedShow, episode)"><i class="fa fa-search btn btn-primary btn-sm pull-right"></i></a></td>
                    </tr>
                    </tbody>
                </table>
              </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Show Confirm Modal -->
<confirm-dialog confirm="deleteShow()" id="deleteShowConfirmDialog">
    Do you really want to delete the show '{{showToDelete.name}}'?
</confirm-dialog>
